html
    head 
        title URL Shortener API
    body
        h1 Free Code Camp API: URL-Shortener Microservice
        p Created by 
            a(href = 'http://antcho92.github.io/') Anthony
        br
        p This app will accept a valid url and return a shortened url in JSON response. If the shortened URL is used, the app will redirect the user to the website that was shortened.
        p Note: you must use a url starting with http or https        
        br
        h3 Example Creation Usage:
        code= exampleInput
        h3 Example Creation Output:
        code= exampleOutput
        h3 Usage:
        code https://api-projects-antcho92.c9users.io/rybaoa6s
        h3 Will redirect to:
        code https://google.com
        