html
    head 
        title URL Shortener API
    body
        h1 Free Code Camp API: URL-Shortener Microservice
        p Created by 
            a(href = 'http://antcho92.github.io/') Anthony
        br
        p This app will accept a valid url and return a shortened url in JSON response. If the shortened URL is used, the app will redirect the user to the website that was shortened.
        br
        h3 Example Creation Usage:
        code https://api-projects-antcho92.c9users.io/new/https://google.com
        h3 Example Creation Output:
        code {"oiginal_url":"https://www.google.com","short_url":"https://api-projects-antcho92.c9users.io/rybaoa6s"}
        h3 Usage:
        code https://api-projects-antcho92.c9users.io/rybaoa6s
        h3 Will redirect to:
        code https://google.com
        